{% extends 'page_base.html' %}

{% load static %}

{% block javascript %}
  <script src="{% static 'js/pages.js' %}"></script>
{% endblock %}

{% block content %}
  <h1 class="page-header">Pages</h1>

  <table class="table" id="pages-table">
    <thead>
      <tr>
        <th># Source</th>
        <th>name</th>
        <th>catogory</th>
         <th>about</th>
        <th>impressum</th>
         <th>action</th>
      </tr>
    </thead>
    <tbody>
      {% include 'includes/partial_page_list.html' %}
    </tbody>
  </table>

  <div class="modal fade" id="modal-pages">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>
{% endblock %}