{% for page in pages %}
  <tr>
    <td>{{ page.provider }}</td>
    <td>{{ page.name }}</td>
    <td>{{ page.category }}</td>
    <td>{{ page.about }}</td>
    <td>{{ page.impressum }}</td>
 <td style="width: 150px">
      <button type="button"
              class="btn btn-warning btn-sm js-update-page"
              data-url="{% url 'page_update' page.pageid %}">
        <span class="glyphicon glyphicon-pencil"></span> Edit
      </button>
            <button type="button"
              class="btn btn-info btn-sm"><a target="_blank" href="https://www.facebook.com/{{page.pageid}}/about">
               View
               </a>
      </button>
    </td> 
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">No Pages</td>
  </tr>
{% endfor %}